<div class="user-details-container">
  <img
    [attr.alt]="image_alt"
    [attr.src]="image_src"
    class="user-details-image"
  />
  <div class="user-details-container1">
    <span class="user-details-text textSM">{{ name }}</span>
    <div class="user-details-container2">
      <span class="user-details-text1 textXS">
        Published
        <span [innerHTML]="raw8jsv"></span>
      </span>
      <span class="user-details-text2 textXS">{{ time }}</span>
      <span class="user-details-text3 textXS">ago</span>
    </div>
  </div>
</div>
