<div class="footer-container">
  <div class="footer-container1">
    <div class="footer-container2">
      <h1 class="footer-text TextXL"><span>Let&apos;s keep in touch</span></h1>
      <span class="footer-text02">
        <span class="footer-text03">We will do the best we can to respond</span>
        <br />
        <br />
        <span>fibalapp@gmail.com</span>
        <br />
      </span>
      <div class="footer-container3"></div>
    </div>
    <div class="footer-container4">
      <div class="footer-container5">
        <span class="footer-text08 TextXS">USEFUL LINK</span>
        <span class="footer-text09 TextSM">About Us</span>
      </div>
      <div class="footer-container6">
        <span class="footer-text10 TextXS">OTHER RESOURCES</span>
        <a
          href="https://fibal-terms.web.app/"
          target="_blank"
          rel="noreferrer noopener"
          class="footer-link TextSM"
        >
          Terms &amp; Conditions
        </a>
        <a
          href="https://fibal-terms.web.app/"
          target="_blank"
          rel="noreferrer noopener"
          class="footer-link1 TextSM"
        >
          Privacy Policy
        </a>
        <a
          href="https://fibalapp@gmail.com"
          target="_blank"
          rel="noreferrer noopener"
          class="footer-link2 TextSM"
        >
          Contact Us
        </a>
      </div>
    </div>
  </div>
  <div class="footer-container7"></div>
  <span class="footer-text11 TextSM">Copyright © 2023 Fibal LLC</span>
</div>
