:host { 
  display: contents; 
}
.member-details-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.member-details-container1 {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  background-size: cover;
  justify-content: center;
  background-image: url('https://play.teleporthq.io/static/svg/default-img.svg');
  background-position: center;
}
.member-details-image {
  width: 100px;
  height: 106px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius25);
}
.member-details-text {
  color: var(--dl-color-secondary-100);
  text-align: center;
  padding-top: var(--dl-space-space-unitandhalf);
}
.member-details-text1 {
  color: var(--dl-color-secondary-700);
  text-align: center;
  text-transform: uppercase;
}
