<div class="blog-post-container">
  <div class="blog-post-hero">
    <div class="blog-post-fixed-header">
      <app-header rootClassName="header-root-class-name"></app-header>
    </div>
    <h1 class="blog-post-heading">
      <span class="blog-post-text">Why I made Fibal</span>
      <br />
    </h1>
    <div class="blog-post-bg"></div>
  </div>
  <div class="blog-post-post-details">
    <div class="blog-post-container1">
      <svg viewBox="0 0 1170.2857142857142 1024" class="blog-post-icon">
        <path
          d="M585.143 292.571h-219.429v219.429h219.429v-219.429zM658.286 658.286v73.143h-365.714v-73.143h365.714zM658.286 219.429v365.714h-365.714v-365.714h365.714zM1024 658.286v73.143h-292.571v-73.143h292.571zM1024 512v73.143h-292.571v-73.143h292.571zM1024 365.714v73.143h-292.571v-73.143h292.571zM1024 219.429v73.143h-292.571v-73.143h292.571zM146.286 768v-548.571h-73.143v548.571c0 20 16.571 36.571 36.571 36.571s36.571-16.571 36.571-36.571zM1097.143 768v-621.714h-877.714v621.714c0 12.571-2.286 25.143-6.286 36.571h847.429c20 0 36.571-16.571 36.571-36.571zM1170.286 73.143v694.857c0 60.571-49.143 109.714-109.714 109.714h-950.857c-60.571 0-109.714-49.143-109.714-109.714v-621.714h146.286v-73.143h1024z"
        ></path>
      </svg>
    </div>
    <span class="blog-post-text02 TextXL">posted 22 April 2023</span>
    <span class="blog-post-text03">
      <span>Written by </span>
      <span class="blog-post-text05">Andrew Schwartz</span>
      <br />
    </span>
    <span class="blog-post-text07">
      Many people use Reddit and Facebook to ask personal finance questions.
      However, some people are afraid to share their information on Facebook
      because it is linked to their photos and friends. On the other hand,
      Reddit is too private and doesn&apos;t allow for building relationships.
      Fibal offers a middle ground by letting you create a clean account with
      only the information you want to share to tell your full financial story
      without giving up your privacy.
    </span>
  </div>
  <div class="blog-post-container2">
    <div class="blog-post-story">
      <span class="blog-post-text08 TextLG">April 22, 2023</span>
      <h3 class="blog-post-text09">Just one more social media platform</h3>
      <img
        alt="image"
        src="/assets/playground_assets/new-york-city-1400w.jpg"
        class="blog-post-image"
      />
      <span class="blog-post-text10">
        Many people use Reddit and Facebook to ask personal finance questions.
        However, some people are afraid to share their information on Facebook
        because it is linked to their photos and friends. On the other hand,
        Reddit is too private and doesn&apos;t allow for building relationships.
        Fibal offers a middle ground by letting you create a clean account with
        only the information you want to share to tell your full financial story
        without giving up your privacy.
      </span>
      <h3 class="blog-post-text11 Text2XL">
        Using Video Games To Generate Clicks
      </h3>
      <span class="blog-post-text12 TextLG">
        <span class="blog-post-text13">
          This is the paragraph where you can write more details about your
          product. Keep you user engaged by providing meaningful information.
          Remember that by this time, the user is curious, otherwise he
          wouldn&apos;t scroll to get here. Add a button if you want the user to
          see more. We are here to make life better.
        </span>
        <br />
      </span>
      <img
        alt="image"
        src="/assets/playground_assets/sofia-kuniakina-1100w.jpg"
        class="blog-post-image1"
      />
      <h3 class="blog-post-text14 Text2XL">Rest of the Story</h3>
      <span class="blog-post-text15 TextLG">
        <span class="blog-post-text16">
          We are here to make life better. And now I look and look around and
          there’s so many Kanyes I&apos;ve been trying to figure out the bed
          design for the master bedroom at our Hidden Hills compound... and
          thank you for turning my personal jean jacket into a couture piece. I
          speak yell scream directly at the old guard on behalf of the future.
          daytime All respect prayers and love to Phife’s family Thank you for
          so much inspiration
        </span>
        <br />
        <span></span>
        <br />
        <span class="blog-post-text19">
          Thank you Anna for the invite thank you to the whole Vogue team And I
          love you like Kanye loves Kanye Pand Pand Panda I&apos;ve been trying
          to figure out the bed design for the master bedroom at our Hidden
          Hills compound...The Pablo pop up was almost a pop up of influence.
          All respect prayers and love to Phife’s family Thank you for so much
          inspiration daytime I love this new Ferg album! The Life of Pablo is
          now available for purchase I have a dream. Thank you to everybody who
          made The Life of Pablo the number 1 album in the world! I&apos;m so
          proud of the nr #1 song in the country. Panda! Good music 2016!
        </span>
        <br />
        <span></span>
        <br />
        <span class="blog-post-text22">
          I love this new Ferg album! The Life of Pablo is now available for
          purchase I have a dream. Thank you to everybody who made The Life of
          Pablo the number 1 album in the world! I&apos;m so proud of the nr #1
          song in the country. Panda! Good music 2016!
        </span>
        <br />
        <br />
      </span>
    </div>
  </div>
  <div class="blog-post-posts">
    <div class="blog-post-container3">
      <app-label text="STORIES"></app-label>
      <h3 class="blog-post-text23 Healine">
        <span class="blog-post-text24">Before I go </span>
      </h3>
      <span class="blog-post-text25 TextXL">
        We&apos;ve got time, but we are only doing what they say and want. I do
        not want to live as I will never die, cause life&apos;s too short, and I
        do not want to drown myself, as others would like.
      </span>
    </div>
    <article-card
      avatar_src="/assets/playground_assets/team3-200h.jpg"
    ></article-card>
    <article-card
      name="Paul Smith"
      time="Drawn on 23 April"
      title="MateLabs mixes learning with IFTTT"
      image_src="/assets/playground_assets/team5-1400w.jpg"
      avatar_src="/assets/playground_assets/team1-200h.jpg"
    ></article-card>
    <article-card
      name="Jasmine Taylor"
      time="Drawn on 23 April"
      title="US venture investment ticks up in Q2"
      image_src="/assets/playground_assets/team3-200h.jpg"
      avatar_src="/assets/playground_assets/team2-200h.jpg"
    ></article-card>
  </div>
  <app-footer></app-footer>
</div>
